
.Repositories {
  margin-bottom: 2rem;
  padding: 1rem;
}

.Repositories .Title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Repositories .Spinner {
  width: 50px;
  height: 50px;
}

.RepositoriesList {
  display: flex;
  flex-wrap: wrap;
}

.RepositoriesItem {
  background-color: #282c34;
  border-radius: 4px;
  color: #ffffff;
  margin: 0.5rem;
  padding: 1rem;
}
